In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
test_df =  pd.read_csv('test.csv')
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
null_test = test_df.isnull().sum().sort_values()
null_df = df.isnull().sum().sort_values()
null_test[null_test>0],null_df[null_df>0]

(GarageCars         1
 GarageArea         1
 KitchenQual        1
 Exterior1st        1
 SaleType           1
 TotalBsmtSF        1
 BsmtUnfSF          1
 Exterior2nd        1
 BsmtFinSF1         1
 BsmtFinSF2         1
 BsmtFullBath       2
 Functional         2
 Utilities          2
 BsmtHalfBath       2
 MSZoning           4
 MasVnrArea        15
 MasVnrType        16
 BsmtFinType2      42
 BsmtFinType1      42
 BsmtExposure      44
 BsmtQual          44
 BsmtCond          45
 GarageType        76
 GarageFinish      78
 GarageYrBlt       78
 GarageQual        78
 GarageCond        78
 LotFrontage      227
 FireplaceQu      730
 Fence           1169
 Alley           1352
 MiscFeature     1408
 PoolQC          1456
 dtype: int64,
 Electrical         1
 MasVnrType         8
 MasVnrArea         8
 BsmtQual          37
 BsmtCond          37
 BsmtFinType1      37
 BsmtFinType2      38
 BsmtExposure      38
 GarageQual        81
 GarageFinish      81
 GarageYrBlt       81
 GarageType        81
 GarageCond        81
 LotFrontage      259
 FireplaceQu      690
 Fence           1179
 Alley           1369
 MiscFeature     1406
 PoolQC          1453
 dtype: int64)

In [5]:
cat_col = df.select_dtypes(include='object').columns
cat_col

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [7]:
num_col = df.select_dtypes(include=['float64','int64']).columns
num_col

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [8]:
null_col = pd.DataFrame(null_df[null_df>0]).index
null_col

Index(['Electrical', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond',
       'BsmtFinType1', 'BsmtFinType2', 'BsmtExposure', 'GarageQual',
       'GarageFinish', 'GarageYrBlt', 'GarageType', 'GarageCond',
       'LotFrontage', 'FireplaceQu', 'Fence', 'Alley', 'MiscFeature',
       'PoolQC'],
      dtype='object')

In [9]:
len(null_col)

19

In [10]:
null_num = []
for i in num_col:
    if i in null_col:
        null_num.append(i)

In [11]:
null_num

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [12]:
null_cat = []
for i in cat_col:
    if i in null_col:
        null_cat.append(i)

In [13]:
null_cat

['Alley',
 'MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [14]:
len(null_cat),len(null_num)

(16, 3)

In [15]:
null_df = df.isnull().sum().sort_values()
null_df[null_df>0]

Electrical         1
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
BsmtFinType2      38
BsmtExposure      38
GarageQual        81
GarageFinish      81
GarageYrBlt       81
GarageType        81
GarageCond        81
LotFrontage      259
FireplaceQu      690
Fence           1179
Alley           1369
MiscFeature     1406
PoolQC          1453
dtype: int64

In [40]:
len(null_df[null_df>0])

19

In [16]:
df.drop('PoolQC',axis=1,inplace=True)
df.drop(['MiscFeature','Alley'],axis=1,inplace=True)
df.drop('Fence',axis=1,inplace=True)

In [44]:
df.drop('Fence',axis=1,inplace=True)

In [17]:
null_df = df.isnull().sum().sort_values()
null_df[null_df>0],len(null_df[null_df>0])

(Electrical        1
 MasVnrArea        8
 MasVnrType        8
 BsmtQual         37
 BsmtCond         37
 BsmtFinType1     37
 BsmtFinType2     38
 BsmtExposure     38
 GarageCond       81
 GarageQual       81
 GarageFinish     81
 GarageType       81
 GarageYrBlt      81
 LotFrontage     259
 FireplaceQu     690
 dtype: int64,
 15)

In [18]:
null_col = pd.DataFrame(null_df[null_df>0]).index
null_col

Index(['Electrical', 'MasVnrArea', 'MasVnrType', 'BsmtQual', 'BsmtCond',
       'BsmtFinType1', 'BsmtFinType2', 'BsmtExposure', 'GarageCond',
       'GarageQual', 'GarageFinish', 'GarageType', 'GarageYrBlt',
       'LotFrontage', 'FireplaceQu'],
      dtype='object')

In [19]:
null_num = []
for i in num_col:
    if i in null_col:
        null_num.append(i)

In [20]:
null_cat = []
for i in cat_col:
    if i in null_col:
        null_cat.append(i)

In [21]:
null_num

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [23]:
len(null_cat)

12

In [24]:
for i in null_num:
    df[i] = df[i].fillna(df[i].mean())

In [25]:
null_df = df.isnull().sum().sort_values()
null_df[null_df>0],len(null_df[null_df>0])

(Electrical        1
 MasVnrType        8
 BsmtQual         37
 BsmtCond         37
 BsmtFinType1     37
 BsmtFinType2     38
 BsmtExposure     38
 GarageQual       81
 GarageFinish     81
 GarageType       81
 GarageCond       81
 FireplaceQu     690
 dtype: int64,
 12)

In [26]:
null_col = pd.DataFrame(null_df[null_df>0]).index
null_col

Index(['Electrical', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtFinType1',
       'BsmtFinType2', 'BsmtExposure', 'GarageQual', 'GarageFinish',
       'GarageType', 'GarageCond', 'FireplaceQu'],
      dtype='object')

In [28]:
null_num = []
for i in num_col:
    if i in null_col:
        null_num.append(i)

In [29]:
null_num

[]

In [30]:
len(null_cat)

12

In [59]:
null_cat

['MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond']

In [61]:
df['MasVnrType'].mode()[0]

'None'

In [31]:
for i in null_cat:
    df[i] = df[i].fillna(df[i].mode()[0])

In [32]:
null_df = df.isnull().sum().sort_values()
null_df[null_df>0],len(null_df[null_df>0])

(Series([], dtype: int64), 0)

In [33]:
null_test = test_df.isnull().sum().sort_values()
null_test[null_test>0],len(null_test[null_test>0])

(GarageCars         1
 GarageArea         1
 KitchenQual        1
 Exterior1st        1
 SaleType           1
 TotalBsmtSF        1
 BsmtUnfSF          1
 Exterior2nd        1
 BsmtFinSF1         1
 BsmtFinSF2         1
 BsmtFullBath       2
 Functional         2
 Utilities          2
 BsmtHalfBath       2
 MSZoning           4
 MasVnrArea        15
 MasVnrType        16
 BsmtFinType2      42
 BsmtFinType1      42
 BsmtExposure      44
 BsmtQual          44
 BsmtCond          45
 GarageType        76
 GarageFinish      78
 GarageYrBlt       78
 GarageQual        78
 GarageCond        78
 LotFrontage      227
 FireplaceQu      730
 Fence           1169
 Alley           1352
 MiscFeature     1408
 PoolQC          1456
 dtype: int64,
 33)

In [34]:
test_df.drop('PoolQC',axis=1,inplace=True)
test_df.drop(['MiscFeature','Alley','Fence'],axis=1,inplace=True)

In [35]:
null_test = test_df.isnull().sum().sort_values()
null_test[null_test>0],len(null_test[null_test>0])

(GarageArea        1
 KitchenQual       1
 GarageCars        1
 TotalBsmtSF       1
 Exterior1st       1
 Exterior2nd       1
 BsmtFinSF1        1
 BsmtFinSF2        1
 SaleType          1
 BsmtUnfSF         1
 BsmtFullBath      2
 Functional        2
 Utilities         2
 BsmtHalfBath      2
 MSZoning          4
 MasVnrArea       15
 MasVnrType       16
 BsmtFinType2     42
 BsmtFinType1     42
 BsmtExposure     44
 BsmtQual         44
 BsmtCond         45
 GarageType       76
 GarageFinish     78
 GarageYrBlt      78
 GarageQual       78
 GarageCond       78
 LotFrontage     227
 FireplaceQu     730
 dtype: int64,
 29)

In [36]:
null_col = pd.DataFrame(null_df[null_df>0]).index
null_col

Index([], dtype='object')

In [37]:
null_col_t = pd.DataFrame(null_test[null_test>0]).index
null_col_t,len(null_col_t)

(Index(['GarageArea', 'KitchenQual', 'GarageCars', 'TotalBsmtSF', 'Exterior1st',
        'Exterior2nd', 'BsmtFinSF1', 'BsmtFinSF2', 'SaleType', 'BsmtUnfSF',
        'BsmtFullBath', 'Functional', 'Utilities', 'BsmtHalfBath', 'MSZoning',
        'MasVnrArea', 'MasVnrType', 'BsmtFinType2', 'BsmtFinType1',
        'BsmtExposure', 'BsmtQual', 'BsmtCond', 'GarageType', 'GarageFinish',
        'GarageYrBlt', 'GarageQual', 'GarageCond', 'LotFrontage',
        'FireplaceQu'],
       dtype='object'),
 29)

In [38]:
num_col

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [41]:
null_num = []
for i in num_col:
    if i in null_col_t:
        null_num.append(i)

In [42]:
null_num

['LotFrontage',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'BsmtFullBath',
 'BsmtHalfBath',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea']

In [43]:
for i in null_num:
    test_df[i] = test_df[i].fillna(test_df[i].mean())

In [44]:
null_test

Id               0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
              ...
GarageYrBlt     78
GarageQual      78
GarageCond      78
LotFrontage    227
FireplaceQu    730
Length: 76, dtype: int64

In [45]:
null_test = test_df.isnull().sum().sort_values()
null_test[null_test>0],len(null_test[null_test>0])

(Exterior1st       1
 Exterior2nd       1
 KitchenQual       1
 SaleType          1
 Utilities         2
 Functional        2
 MSZoning          4
 MasVnrType       16
 BsmtFinType1     42
 BsmtFinType2     42
 BsmtQual         44
 BsmtExposure     44
 BsmtCond         45
 GarageType       76
 GarageQual       78
 GarageFinish     78
 GarageCond       78
 FireplaceQu     730
 dtype: int64,
 18)

In [46]:
null_col_t = pd.DataFrame(null_test[null_test>0]).index
null_col_t,len(null_col_t)

(Index(['Exterior1st', 'Exterior2nd', 'KitchenQual', 'SaleType', 'Utilities',
        'Functional', 'MSZoning', 'MasVnrType', 'BsmtFinType1', 'BsmtFinType2',
        'BsmtQual', 'BsmtExposure', 'BsmtCond', 'GarageType', 'GarageQual',
        'GarageFinish', 'GarageCond', 'FireplaceQu'],
       dtype='object'),
 18)

In [47]:
cat_col

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [48]:
null_cat = []
for i in cat_col:
    if i in null_col_t:
        null_cat.append(i)

In [49]:
null_cat

['MSZoning',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'SaleType']

In [50]:
len(null_cat)

18

In [51]:
for i in null_cat:
    test_df[i] = test_df[i].fillna(test_df[i].mode()[0])

In [52]:
test_df.isnull().sum().sort_values()

Id               0
Functional       0
TotRmsAbvGrd     0
KitchenQual      0
KitchenAbvGr     0
                ..
Exterior1st      0
RoofMatl         0
RoofStyle        0
ExterCond        0
SaleCondition    0
Length: 76, dtype: int64

In [53]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [54]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,48,0,0,0,0,0,11,2006,WD,Normal

In [62]:
df = pd.get_dummies(df,drop_first=True)

In [63]:
df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [64]:
y = df['SalePrice']
X = df.drop('SalePrice',axis =  1 )

In [65]:
X

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [67]:
sc = StandardScaler()

In [68]:
scaled_X_train = sc.fit_transform(X_train)

In [69]:
scaled_X_test = sc.transform(X_test)

In [70]:
rf = RandomForestRegressor()

In [73]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [74]:
def score(model):
    model.fit(scaled_X_train,y_train)
    y_pred = model.predict(scaled_X_test)
    r2 = r2_score(y_test,y_pred)
    mae = mean_absolute_error(y_test,y_pred)
    mse = np.sqrt(mean_squared_error(y_test,y_pred))
    print( y_test.mean())
    print(f'r2_score: {r2}')
    
    print(f"mae: {mae}")
    
    print(f"mse: {mse}")

In [75]:
score(rf)

178839.81164383562
r2_score: 0.8866486945141363
mae: 18066.514178082194
mse: 29486.293240878796

In [76]:
def score_1(model):
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    mae = mean_absolute_error(y_test,y_pred)
    mse = np.sqrt(mean_squared_error(y_test,y_pred))
    print( y_test.mean())
    print(f'r2_score: {r2}')
    
    print(f"mae: {mae}")
    
    print(f"mse: {mse}")

In [77]:
score_1(rf)

178839.81164383562
r2_score: 0.8913156462483349
mae: 17780.923493150683
mse: 28872.901601546615

In [78]:
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)

In [83]:
pd.Series(y_pred)

0      141203.75
1      325903.60
2      114078.08
3      153897.00
4      318601.85
         ...
287    118054.08
288    234155.00
289    179322.33
290    138406.37
291    113178.50
Length: 292, dtype: float64

In [84]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,48,0,0,0,0,0,11,2006,WD,Normal

In [85]:
df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [86]:
new_df = df.drop('Id',axis = 1)

In [104]:
new_df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,0,1,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,0,1,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,0,1,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,0,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,0,1,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,0,1,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,0,1,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,0,1,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,0,1,0,0,0,1,0

In [88]:
y = new_df['SalePrice']
X = new_df.drop('SalePrice',axis = 1)

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [90]:
score_1(rf)

178839.81164383562
r2_score: 0.896672359094
mae: 17358.78917808219
mse: 28152.383770617227

In [105]:
score_1(rf)

178839.81164383562
r2_score: 0.8888873284823038
mae: 18009.127226027398
mse: 29193.671168470057

In [97]:
 param_grid = { 
            "n_estimators"      : [10,20,30,50,70,100,150,200],
            "max_features"      : ["auto", "sqrt", "log2"],
            "min_samples_split" : [2,4,8,10,12,15,20],
            "bootstrap": [True, False],
            }

In [92]:
from sklearn.model_selection import GridSearchCV

In [93]:
grid = GridSearchCV(rf,param_grid)

In [94]:
score_1(grid)

178839.81164383562
r2_score: 0.8740910922776882
mae: 18303.06917808219
mse: 31076.71788688042

In [98]:
grid.fit(X_train,y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'bootstrap': [True, False],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_split': [2, 4, 8],
                         'n_estimators': [10, 20, 30]})

In [99]:
y_pred = grid.predict(X_test)
r2 = r2_score(y_test,y_pred)
mae = mean_absolute_error(y_test,y_pred)
mse = np.sqrt(mean_squared_error(y_test,y_pred))
print( y_test.mean())
print(f'r2_score: {r2}')
    
print(f"mae: {mae}")
    
print(f"mse: {mse}")

178839.81164383562
r2_score: 0.8721587479416124
mae: 18319.68299304197
mse: 31314.279586525146

In [100]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [102]:
y_pred = rf.predict(X_test)
r2 = r2_score(y_test,y_pred)
mae = mean_absolute_error(y_test,y_pred)
mse = np.sqrt(mean_squared_error(y_test,y_pred))
print( y_test.mean())
print(f'r2_score: {r2}')
    
print(f"mae: {mae}")
    
print(f"mse: {mse}")

178839.81164383562
r2_score: 0.8909915863163511
mae: 17579.050582191783
mse: 28915.91416990976

In [103]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,48,0,0,0,0,0,11,2006,WD,Normal

In [106]:
model = RandomForestRegressor()

In [107]:
df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [109]:
y = df['SalePrice']
X = df.drop('SalePrice',axis= 1)

In [110]:
model.fit(X,y)

RandomForestRegressor()

In [111]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,48,0,0,0,0,0,11,2006,WD,Normal

In [112]:
test_df = pd.get_dummies(test_df,drop_first=True)

In [113]:
test_df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,21.0,1936,4,7,1970,1970,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
1455,2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,...,0,0,0,0,1,0,0,0,0,0
1456,2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,...,0,0,0,0,1,0,0,0,0,0
1457,2918,85,62.0,10441,5,5,1992,1992,0.0,337.0,...,0,0,0,0,1,0,0,0,1,0
1458,2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,...,0,0,0,0,1,0,0,0,1,0

In [114]:
model.predict(test_df)

e:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- Condition2_RRAe
- Condition2_RRAn
- Condition2_RRNn
- Electrical_Mix
- Exterior1st_ImStucc
- ...

  warnings.warn(message, FutureWarning)

ValueError: X has 221 features, but RandomForestRegressor is expecting 237 features as input.

In [120]:
df_columns = df.columns

In [121]:
test_columns  = test_df.columns

In [122]:
len(df_columns),len(test_columns)

(238, 221)

In [123]:
not_col = []
for i in df_columns:
    if i not in test_columns:
        not_col.append(i)

In [125]:
len(not_col)

17

In [126]:
not_col

['SalePrice',
 'Utilities_NoSeWa',
 'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'HouseStyle_2.5Fin',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'Exterior1st_ImStucc',
 'Exterior1st_Stone',
 'Exterior2nd_Other',
 'Heating_GasA',
 'Heating_OthW',
 'Electrical_Mix',
 'GarageQual_Fa']

In [ ]:
test_df['Sal']

In [132]:
correlation = df.corr()['SalePrice']

In [133]:
correlation[['SalePrice',
 'Utilities_NoSeWa',
 'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'HouseStyle_2.5Fin',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'Exterior1st_ImStucc',
 'Exterior1st_Stone',
 'Exterior2nd_Other',
 'Heating_GasA',
 'Heating_OthW',
 'Electrical_Mix',
 'GarageQual_Fa']]

SalePrice              1.000000
Utilities_NoSeWa      -0.014314
Condition2_RRAe        0.002993
Condition2_RRAn       -0.014510
Condition2_RRNn       -0.039255
HouseStyle_2.5Fin      0.036526
RoofMatl_CompShg      -0.104505
RoofMatl_Membran       0.019970
RoofMatl_Metal        -0.000304
RoofMatl_Roll         -0.014479
Exterior1st_ImStucc    0.026729
Exterior1st_Stone      0.036181
Exterior2nd_Other      0.045519
Heating_GasA           0.092529
Heating_OthW          -0.025730
Electrical_Mix        -0.037555
GarageQual_Fa         -0.133142
Name: SalePrice, dtype: float64

In [135]:
naya_df = df.drop(['Utilities_NoSeWa',
 'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'HouseStyle_2.5Fin',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'Exterior1st_ImStucc',
 'Exterior1st_Stone',
 'Exterior2nd_Other',
 'Heating_GasA',
 'Heating_OthW',
 'Electrical_Mix',
 'GarageQual_Fa'],axis = 1)

In [136]:
naya_df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [141]:
X = naya_df.drop(['SalePrice'],axis = 1)
y = naya_df['SalePrice']

In [142]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [139]:
rf = RandomForestRegressor()

In [140]:
score_1(rf)

178839.81164383562
r2_score: 0.8883542351632681
mae: 18043.631506849317
mse: 29263.619665869013

In [143]:
score_1(rf)

178839.81164383562
r2_score: 0.8861222557415316
mae: 18082.55976027397
mse: 29554.685689431444

In [144]:
final_model = RandomForestRegressor()

In [145]:
final_model.fit(X,y)

RandomForestRegressor()

In [146]:
final_prediction = final_model.predict(test_df)

In [148]:
pd.DataFrame(final_prediction)

              0
0     128779.50
1     151471.50
2     182481.10
3     179037.57
4     200329.00
...         ...
1454   84645.00
1455   86780.93
1456  151929.48
1457  114305.00
1458  224215.49

[1459 rows x 1 columns]

In [151]:
submission = test_df[['Id']]

In [152]:
submission['SalePrice'] = final_prediction

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [153]:
submission['SalePrice'] = final_prediction

C:\Users\hp\AppData\Local\Temp\ipykernel_21648\3477429608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['SalePrice'] = final_prediction

In [154]:
submission

        Id  SalePrice
0     1461  128779.50
1     1462  151471.50
2     1463  182481.10
3     1464  179037.57
4     1465  200329.00
...    ...        ...
1454  2915   84645.00
1455  2916   86780.93
1456  2917  151929.48
1457  2918  114305.00
1458  2919  224215.49

[1459 rows x 2 columns]

In [155]:
submission.to_csv("submission.csv",index=None)

In [156]:
pd.read_csv('submission.csv')

        Id  SalePrice
0     1461  128779.50
1     1462  151471.50
2     1463  182481.10
3     1464  179037.57
4     1465  200329.00
...    ...        ...
1454  2915   84645.00
1455  2916   86780.93
1456  2917  151929.48
1457  2918  114305.00
1458  2919  224215.49

[1459 rows x 2 columns]